/* GamePlay on css */
.gamePlay{
    width: 50%;
    height: 50%;
}

.gamePlay button{
    width: 100%;
    height: 30px;
}

.gamePlay table{
    border-collapse: collapse;
    border: 1px groove;
    width: 100%;
}

.gamePlay td{
    border: 1px groove black;
}

.gamePlay tr{
    height: 30px;
}