<div class="jumbotron">
    <h2> Welcome
        <b>{{mynickname}}</b>
    </h2>
</div>
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="winner in winners track by $index">
                <span class="badge">{{$index}}</span>
                <b>{{winner}}</b>
                <div class="color" style="width:20px;height:20px;background-color:#4f27f4;display: inline-block;float: right;margin-right: 10px;"></div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="gamePlay">
            <table class="main-table" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" ng-keydown="key($event)">
                <tr ng-repeat="row in field.rows">
                    <td ng-repeat="spot in row">
                        <button ng-style="{'background':getStyle(spot)}"> </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>