<div class="jumbotron">
    <h2> Welcome
        <b>{{mynickname}}</b>
    </h2>
</div>
<div class="row">
    <div class="col-md-4">
        <ul style="margin-left:50px;">
            <li ng-repeat="winner in winners track by $index">{{$index}}. {{winner}}</li>
        </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="gamePlay">
            <table class="main-table" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" ng-keydown="key($event)">
                <tr ng-repeat="row in field.rows">
                    <td ng-repeat="spot in row">
                        <button ng-style="{'background':getStyle(spot)}"> </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>